Repository ReverbTraining/Git-Intermediate-Exercise, pull requests merged in 2018-05, with the labels that each got.

#30 Add Bar Data for Jackson Ward
  jackson-ward/bars.js
  jackson-ward/bars.md
Labels: Jackson Ward, bars & breweries

#31 Add shopping data for Jackson Ward
  jackson-ward/shopping.js
  jackson-ward/shopping.md
Labels: Jackson Ward, shopping

#37 Issue 5
  church-hill/shopping.js
  church-hill/shopping.md
Labels: Church Hill, shopping

#42 Jro3/issue 34
  jackson-ward/bars.md
Labels: Jackson Ward, bars & breweries

#43 Issue 9
  jackson-ward/restaurants.js
  jackson-ward/restaurants.md
Labels: Jackson Ward, restaurants

#41 Issue 17
  scotts-addition/attractions.js
  scotts-addition/attractions.md
Labels: Scott's Addition, attractions

#52 Issue 14 - Adding bars to the fan
  the-fan/bars.js
  the-fan/bars.md
Labels: The Fan, bars & breweries

#50 Add Northside restaurant data
  northside/restaurants.js
  northside/restaurants.md
Labels: Northside, restaurants

#62 Add Styling for Jackson Ward Shopping
  jackson-ward/shopping.css
  jackson-ward/shopping.md
Labels: Jackson Ward, shopping

#93 Update styling for Jackson Ward restaurants
  jackson-ward/restaurants.css
  jackson-ward/restaurants.md
Labels: Jackson Ward, restaurants

#94 Updated Style for Church Hill Shopping
  church-hill/shopping.css
  church-hill/shopping.md
Labels: Church Hill, enhancement, shopping

#107 Added stylesheet and referenced stylesheet in markdown file
  scotts-addition/restaurants.css
  scotts-addition/restaurants.md
Labels: Scott's Addition, restaurants

#95 Added CSS files for church hill attractions
  church-hill/attractions.css
  church-hill/attractions.md
Labels: Church Hill, attractions, enhancement

#96 Adding styling to Scotts Addition attractions
  scotts-addition/attractions.css
  scotts-addition/attractions.md
Labels: Scott's Addition, attractions, enhancement

#116 Add CSS for Jackson Ward Bars
  jackson-ward/bars.css
  jackson-ward/bars.md
Labels: Jackson Ward, bars & breweries

#140 Add @chrisbelyea as a maintainer
  northside/MAINTAINERS
Labels: Northside, restaurants

#143 Add @JaseemPookandy as a maintainers
  the-fan/maintainers
Labels: The Fan, attractions

#131 Added Maintainers file for Church Hill
  church-hill/MAINTAINERS
Labels: Church Hill

#152 Jg maintainers
  scotts-addition/MAINTAINERS
Labels: Scott's Addition, restaurants

#139 Added maintainers file
  church-hill/MAINTAINERS
Labels: Church Hill, attractions
